.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 8%;

  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #3b82f6;
}

nav {
  display: flex;
  gap: 35px;
}

nav a {
  color: white;
  font-weight: 500;
  transition: .25s;
}

nav a:hover {
  color: #3b82f6;
}


   /*Responsividade?*/

   @media (max-width: 900px){

    .header{

        flex-direction:column;

        gap:20px;

        padding:20px;

    }

    nav{

        gap:20px;

        flex-wrap:wrap;

        justify-content:center;

    }

}